appdirs
chardet
click
colorama
defusedxml
Django
django-allauth
Flask
html5lib
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
oauthlib
packaging
psycopg2-binary
pyparsing
python3-openid
pytz
pyxdg
requests
requests-oauthlib
scikit-learn
scipy
six
urllib3
Werkzeug
whitenoise
